/*
  font-family: 'Montserrat', sans-serif; 100it/800
  font-family: 'Open Sans', sans-serif; 400/400it/700/700it
  #00fca6  #105e42
*/

html {
  scroll-behavior: smooth;
  font-family: 'Open Sans', sans-serif;  
  padding: 20px;
  font-size: 16px;
  background-color: black; 
}

body {
  max-width: 320px;
  margin: auto;
}

.header-body {
  background-image: url("../img/web.jpeg");
  border: 2px solid white;
  padding: 50px 30px; 
  margin: 0 0 20px;
}

.title-name {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 26px;
}

em {
  color:#00fca6;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
  font-size: 26px;
  font-style: italic;
}

.header-text {
  color: #aaa;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 0;
}

.card {
  background-color:#00fca6;
  color: #0e6949;
  padding: 30px;
  margin: 0 0 20px;
  font-size: 16px;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  font-size: 16px;
  font-style: bold;
  margin: 0 0 20px;
  color:black;
}

div h2{
  color:#0e6949;
 }

.header-article {
  color: black;
}

.post-info {
  color: #aaaaaa;
  font-size: 12px;
  margin: 12px 0;
}

.post-date {
  color: black;
}

.post-autor {
  color:#00fca6;
}

article {
  background-color: white;
  padding: 30px; 
  margin-bottom: 20px;
}

.article-text {
  color: black;
  font-weight: 400;
  margin: 16px 0;
}

img {
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
}

figure {
  box-shadow: 0 0 10px #33333344;
  margin: 0 0 32px;
}

figcaption {
  font-size: 12px;
  padding: 5px 10px;
  font-weight: 400;
  color: #333;
}

.button {
  background-color: #444;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 800;
  padding: 5px 15px;
  color: #ddd;
  text-decoration: none;
  max-width: 100%;
}

.footer-article {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  margin: 16px 0 0;
}

.footer-body {
  border:#00fca6 2px solid;
  color: white;
  font-size: 10px;
  text-align: center;
  padding: 5px;
  box-shadow: 0 0 12px #00fca655;
  margin: 10px 0;
}

