/*
  font-family: 'Montserrat', sans-serif; 100it/800
  font-family: 'Open Sans', sans-serif; 400/400it/700/700it
*/

html {
  scroll-behavior: smooth;
}

body {
  max-width: 320px;
  margin: auto;
  background-color: black;
  font-family: sans-serif;    
  font-size: 15px;
}

header {
 background-image: url("../img/web.jpg");
 border: 2px solid white;
}

h1 {
  color: white;
}

img {
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
}

div p {
  font-family: 'Montserrat', sans-serif;
}

figure {
  box-shadow: 5px 5px 15px 2px lightgrey ;
}

article {
 background-color: white;
 margin: 30px;
 font-family: 'Open Sans', sans-serif;
}

.article {
 color: black;
} 

.card {
  background-color: #00fca6;
  color: #105e42;
  padding: 30px;
}

footer {
  border: 2px solid #00fca6;
}
